@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.h1 {
  text-align: center;
}

.nav {
  text-align: center;
}

li {
  display: inline-block;
  text-align: left;
}

.grid {
  background-color: #e2e2e2;
}

.nav a {
  text-decoration: none;
  list-style-type: square;
  display: inline-block;
  color: #0074d9;
  padding: .3em;
  margin: 0;
}

.nav a:hover {
  background-color: #0074d9;
  color: #fff;
  display: inline-block;
}
